.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: white;
  color: black;
  border-bottom: 2px solid #24a2b8;
}

.table tbody tr {
  background-color: #e9ecef !important;
}

.table tbody tr.avg-row {
  background-color: white !important;
}

.series-row:hover {
  background-color: #d6d8db !important;
  cursor: pointer;
}

.card {
  width: 400px;
  margin-left: 40px;
  margin-top: 0;
}

.card img {
  height: 200px;
  object-fit: cover;
}
