<div class="col-md-6 table-container">
  <table class="table table-striped shadow-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Channel</th>
        <th scope="col">Seasons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of series" (click)="selectSerie(s)" class="series-row">
        <th scope="row">{{ s.id }}</th>
        <td>
          <a href="#" style="color: #007bff; text-decoration: none;">{{ s.name }}</a>
        </td>
        <td>{{ s.channel }}</td>
        <td>{{ s.seasons }}</td>
      </tr>
      <tr class="avg-row">
        <td colspan="4" style="text-align:left;">
          <strong>Seasons average: {{ averageSeasons | number:'1.0-0' }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-4 card-container" *ngIf="selectedSerie">
  <div class="card shadow-sm">
    <img [src]="selectedSerie.image" class="card-img-top" [alt]="selectedSerie.name" />
    <div class="card-body">
      <h5 class="card-title">{{ selectedSerie.name }}</h5>
      <p class="card-text">{{ selectedSerie.description }}</p>
      <a [href]="selectedSerie.link" target="_blank" style="color: #007bff; text-decoration: none;">
        {{ selectedSerie.link }}
      </a>
    </div>
  </div>
</div>
