<div class="table-wrapper">
  <table class="table shadow-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Channel</th>
        <th>Seasons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of series" (click)="selectSerie(s)" class="series-row">
        <td>{{ s.id }}</td>
        <td>
          <a href="#" (click)="selectSerie(s); $event.preventDefault();" class="serie-link">
            {{ s.name }}
          </a>
        </td>
        <td>{{ s.channel }}</td>
        <td>{{ s.seasons }}</td>
      </tr>
      <tr class="avg-row">
        <td colspan="4">
          <strong>Seasons average: {{ averageSeasons | number:'1.0-0' }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="card shadow-sm" *ngIf="selectedSerie">
  <img [src]="selectedSerie.image" class="card-img-top" [alt]="selectedSerie.name" />
  <div class="card-body">
    <h5 class="card-title">{{ selectedSerie.name }}</h5>
    <p class="card-text">{{ selectedSerie.description }}</p>
    <a [href]="selectedSerie.link" target="_blank" class="serie-link">
      {{ selectedSerie.link }}
    </a>
  </div>
</div>
