body {
  background-color: #f8f9fa;
}

.navbar-custom {
  background-color: #24a2b8;
}

.navbar-brand {
  color: black !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-brand img {
  height: 26px;
  width: 26px;
}

.main-container {
  margin-top: 30px;
  margin-left: 40px;
}

.table-container {
  width: 100%;
  max-width: 600px;
}

.card-container {
  margin-left: 40px;
  max-width: 400px;
}

.card img {
  height: 200px;
  object-fit: cover;
}
