body {
  background-color: #f8f9fa;
}

.navbar-custom {
  background-color: #24a2b8;
  padding: 10px 20px;
}

.navbar-brand {
  color: black !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-brand img {
  height: 26px;
  width: 26px;
}

.main-container {
  margin-top: 30px;
}

.table-container {
  width: 33%; 
  min-width: 500px;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
